.info
{
    margin: 0;

    &.failed-config
    {
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    hgroup.main
    {
        margin: 0 0 60px 0;
        background-repeat: no-repeat;
        background-size: cover;
        a
        {
            font-size: 12px;
        }
    }
    pre
    {
        font-size: 16px;
    }
    p, li, table
    {
        font-size: 16px;

        @include info_body();
    }

    h1, h2, h3, h4, h5
    {
        @include info_body();
    }

    a
    {
        font-size: 16px;

        transition: all .4s;

        @include info_body($info-link-font-color);

        &:hover
        {
            color: darken($info-link-font-color-hover, 15%);
        }
    }

    .base-url
    {
        font-size: 12px;
        font-weight: 300 !important;

        margin: 0;

        @include text_code();
    }

    .header-wrapper {
      height: 200px;
      max-width: 760px;
      margin: 0 auto;
      padding: 2em 10px;
    }
    .title
    {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 48px;
        text-align: center;
        padding: 40px;

        margin: 0;

        @include info_header($white);

        small
        {
            font-size: 10px;

            position: relative;
            top: -5px;

            display: inline-block;

            margin: 0 0 0 5px;
            padding: 2px 4px;

            vertical-align: super;

            border-radius: 57px;
            background: $info-title-small-background-color;

            &.version-stamp
            {
                background-color: #89bf04;
            }

            pre
            {
                margin: 0;
                padding: 0;

                @include text_headline($info-title-small-pre-font-color);
            }
        }
    }
}
